@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");

.parent {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header{
  font-family: "Roboto", "sans-serif";
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 2.5rem;
}

.subtitle{
  font-family: "Roboto", "sans-serif";
}

@media only screen and (max-width: 960px) {
  .blog {
    flex-direction: column;
  }
  .header {
    margin-bottom: 0px;
    font-size: 1.5rem;
  }
}
