@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");

.h1 {
  font-family: "Roboto", "sans-serif";
  text-align: center;
  font-size: 3rem;
  margin-top: 150px;
  letter-spacing: 0.5rem;
}

#headSlider {
  border-radius: 7px;
  transition: 0.5s;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: cover;
  width: 90vw;
  height: 77vh;
}

.headerContent {
  transition: 1s;
  border-radius: 10px;
  background-color: rgb(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: space-between;
}

.iconLeft {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-content: center;
  justify-content: center;
  margin-left: 1%;
}

.textMiddle {
  transition: 1s;
  width: 80%;
  display: flex;
  flex-direction: column;
  height: 100%;
  align-content: center;
  justify-content: center;
  color: blanchedalmond;
}

.textMiddle h2 {
  transition: 1s;
  font-family: "Playfair Display", serif;
  font-size: 3rem;
}

.textMiddle p {
  text-align: left;
  transition: 1s;
  width: fit-content;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}

.iconRight {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-content: center;
  justify-content: center;
  margin-right: 1%;
}

.icon {
  transition: 0.5s;
  font-size: 3rem;
  color: cornsilk;
  cursor: pointer;
}

.icon:hover {
  transition: 0.5s;

  font-size: 3.5rem;
}

.content{
  text-align: center;
  width: 90%;
  margin: auto;
}

.content h2{
    font-family: 'Roboto', 'sans-serif';
    text-transform: uppercase;
    font-size: 2.5rem;
    letter-spacing: 0.3rem;
    color: black;
}

.content p{
    font-family: 'Roboto', 'sans-serif';
    margin: 2%;
    font-size: 1.5rem;
}

.director{
  height: 15rem;
  border-radius: 50%;
}

.personName{
  font-family: "Playfair Display";
  font-size: 1rem;
  margin-bottom: 0;
}

.personPost{
  margin-top: 0;
  font-size: 1rem;
  font-family: 'Roboto', 'sans-serif';
  color: #063869;
}

.personPhoto{
  height: 10rem;
  border-radius: 50%;
}

.ourTeam{
  display: flex;
  justify-content: space-around;
}

.table, .th, .td {
  border: 1px solid black;
}

.th{
  font-family: 'Roboto', 'sans-serif';
  font-size: 1.5rem;
}

.td{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3rem;
}

.table{
  border-collapse: collapse;
  margin: auto;
}



@media only screen and (max-width: 768px) {
  .textMiddle p {
    font-size: 1rem;
  }

  .textMiddle h2 {
    font-size: 2rem;
  }

  .ourTeam{
    flex-direction: column;
  }
}
